.countCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
.botonAgregar{
    width: 200px;
    margin-top: 15px;
}
.cantidad{
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
}
.aviso{
    margin-top: 8px;
}
.container-class{
    display: flex !important!;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}