.detailCard{
    display: flex;
    flex-direction: row;
    gap: 150px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.mainDetail{
    width: 900px;
    margin-bottom: 50px;
}
.detailModel{
    text-align: center;
    margin-top: 12px;
    margin-bottom: 50px;
}
.detailInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
    margin-top: 90px;
}
.linkRemeras{
    text-decoration: none;
    color: azure;
}
.imageDetail{
    width: 380px;
    height: 400px;
    margin-bottom: 30px;
}